.content {
  width: 60%;
  margin: auto;
}
.op1 {
  display: flex;
  background-color: aquamarine;
  margin: 15px;
  font-size: 1.5rem;
  box-shadow: 2px 2px 2px 2px rgb(101, 182, 155);
  font-weight: bold;
}

.op2 {
  display: flex;
  background-color: lightsalmon;
  margin: 15px;
  font-size: 1.5rem;
  box-shadow: 2px 2px 2px 2px rgb(223, 116, 74);
  font-weight: bold;
}

.op3 {
  display: flex;
  background-color: lightgreen;
  margin: 15px;
  font-size: 1.5rem;
  box-shadow: 2px 2px 2px 2px rgb(44, 104, 84);
  font-weight: bold;
}

.opt_grp {
  margin-right: 25px;
}

.btn {
  width: 150px;
  height: 50px;
  background-color: rgb(44, 179, 44);
  margin-left: 14px;
  color: white;
  font-size: 1.5rem;
  box-shadow: 2px 2px 2px 2px rgb(19, 119, 19);
}

#ques {
  background-color: lightblue;
  height: 74px;
  margin: 15px;
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  box-shadow: 2px 2px 2px 2px rgb(80, 144, 165);
  padding: 5px;
}

.q {
  background-color: rgb(250, 250, 151);
  box-shadow: 2px 2px 2px 2px rgb(80, 144, 165);
  color: white;
  height: 74px;
  margin: 15px;
  font-size: 1.5rem;
  align-items: center;
  display: flex;
}
.qlogo {
  margin: auto;
  width: 30%;
}

body {
  background: url("./download4.jpg");
  background-position: center;
  background-size: cover;
}
